---
import { db, Comment } from 'astro:db';
import { CutCornerButton } from '../components/CutCornerButton';
import Input from '../components/Input.astro';
import TextArea from '../components/TextArea.astro';
import InterierHero from '../components/InterierHero.astro';
import InteriorContent from '../components/InteriorContent.astro';
import DefaultLayout from '../layouts/Default.astro';
import { MdOutlineKeyboardArrowRight } from "react-icons/md";


// Render the new list of comments on each request
const comments = await db.select().from(Comment);

---

<DefaultLayout>
    <InterierHero>
        <p class="uppercase font-extrabold text-center text-zinc-500 tracking-wider">
            Let's talk
        </p>
        <h1 class="font-heading font-black text-5xl md:text-6xl lg:text-7xl text-center mt-4">
            Contact Us
        </h1>
        <p class="text-center text-xl md:text-2xl mt-6 max-w-xl mx-auto text-zinc-400">
            We are always looking for talented individuals passionate about building blockchain products that makes a difference
        </p>
    </InterierHero>

    <InteriorContent>
        <div class="max-w-xl mx-auto px-4 md:px-0">
            <h2 class="font-heading font-black text-3xl text-center">What can we help you with</h2>
            <form class="flex flex-col mt-8" name="contact" method="POST" data-netlify="true"> 
                <label for="name">Name</label>
                <Input type="text" name="name" id="id" className="mt-1" />
                
                <label for="email" class="mt-4">Email</label>
                <Input type="email" name="email" id="email" className="mt-1" />
            
                <label for="message" class="mt-4">Message</label>
                <TextArea name="message" id="message" className="mt-1" />

                <CutCornerButton className='mt-4'>Send Message</CutCornerButton>
            </form>

            <div class="grid grid-cols-1 mt-14 md:mt-24 lg:mt-32 mx-auto ">
                <div class="text-center font-bold text-2xl md:text-3xl lg:text-4xl">
                    <h2>FAQ</h2>
                </div>
                <div class="mx-auto w-full mt-6 space-y-4">
                    {comments.map(({ author, body }) => (
                        <article class="border-2 border-fuchsia-800/70 p-3 rounded-md hover:scale-110 transition group">
                            <p class="text-xl font-semibold text-fuchsia-500 ml-4">{author}</p>
                            <p class="font-semibold mt-2 ml-2 flex gap-1 items-center">
                                <MdOutlineKeyboardArrowRight className='size-6 group-hover:rotate-45 transition-transform' /> 
                                {body}
                            </p>
                        </article>
                    ))}
                </div>
            </div> 
            
        </div>
    </InteriorContent>
</DefaultLayout>